html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

.header {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.logo a img {
  height: 140px;
}

.map {
  position: relative;
  margin: 5px 0 5px 0;
  height: 500px;
  clear: both;
  overflow: hidden;
  border-radius: 10px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// Tablets portait and up
@media (min-width: 768px) {
  #container {
    margin: 0 10%;
  }

  .map {
    height: 600px;
  }
}